@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	font: 100%/1.4 Verdana, Arial, fantasy, sans-serif;
}
.homePage {
	background: #776D99;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #967B9E;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	
}
.nav {
	background: #7C6B9E;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #B3B9E9;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #8E899E;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #849E86;
}
a:visited {
     color: #5A5A90;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
